.ng-crop-demo{

  min-height: 300px;

  h3{
      text-align: center;
  }

  #main-ngcrop-area-view{
    margin-top: 20px;
    margin-bottom: 20px;

    .img-container{

      position: relative;
      text-align: center;

      .canvas{
        display: block;

      }
    }

    #testsel{
      position: absolute;
     // float: left;
      top:0px;
      left: 0px;
      width: 100px;
      height: 100px;
      border-style: dashed;
      display: block;
      z-index: 100;
    }

    img{

    }
  }

  .project-content-container{

  }
}
