/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Custom page footer */
.footer {
  color: #777;
  border-top: 1px solid #e5e5e5;
}
/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  background-color: #ece4d0;
}
.jumbotron .btn {
  font-size: 21px;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
.center-content {
  margin-left: auto;
  margin-right: auto;
}
.center-in-row {
  text-align: center;
}
.no-margin {
  margin: 0px;
}
/* Make the masthead heading the same height as the navigation */
#navbar-container {
  margin: 0 auto;
  position: relative;
}
#navbar-container .rectangle {
  background: #13184C;
  height: 62px;
  position: relative;
  -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.55);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  z-index: 500;
  /* the stack order: foreground */
  margin: 3em 0;
}
#navbar-container .l-triangle-top {
  border-color: #111644 transparent transparent;
  border-style: solid;
  border-width: 50px;
  height: 0px;
  width: 0px;
  position: absolute;
  top: 1px;
  left: -50px;
}
@media (max-width: 836px) {
  #navbar-container .l-triangle-top {
    display: none;
  }
}
#navbar-container .l-triangle-bottom {
  border-color: transparent transparent #111644;
  border-style: solid;
  border-width: 50px;
  height: 0px;
  width: 0px;
  position: absolute;
  top: -40px;
  left: -54px;
}
@media (max-width: 836px) {
  #navbar-container .l-triangle-bottom {
    display: none;
  }
}
#navbar-container .r-triangle-top {
  border-color: #111644 transparent transparent;
  border-style: solid;
  border-width: 50px;
  height: 0px;
  width: 0px;
  position: absolute;
  right: -50px;
  top: 1px;
}
@media (max-width: 836px) {
  #navbar-container .r-triangle-top {
    display: none;
  }
}
#navbar-container .r-triangle-bottom {
  border-color: transparent transparent #111644;
  border-style: solid;
  border-width: 50px;
  height: 0px;
  width: 0px;
  position: absolute;
  top: -40px;
  right: -51px;
}
@media (max-width: 836px) {
  #navbar-container .r-triangle-bottom {
    display: none;
  }
}
#navbar {
  padding: 5px;
  display: table;
  margin: auto;
}
#navbar li {
  list-style: none;
  display: block;
  float: left;
  margin: 1em;
}
#navbar li a {
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.5);
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2em;
  margin: 0 .5em;
}
#navbar li a:hover {
  margin-top: 2px;
  cursor: pointer;
  color: #B2B2B2;
}
.ng-crop-demo {
  min-height: 300px;
}
.ng-crop-demo h3 {
  text-align: center;
}
.ng-crop-demo #main-ngcrop-area-view {
  margin-top: 20px;
  margin-bottom: 20px;
}
.ng-crop-demo #main-ngcrop-area-view .img-container {
  position: relative;
  text-align: center;
}
.ng-crop-demo #main-ngcrop-area-view .img-container canvas {
  border: solid 1px black;
}
.ng-crop-demo #main-ngcrop-area-view #testsel {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100px;
  height: 100px;
  border-style: dashed;
  display: block;
  z-index: 100;
}
.ng-crop-demo #main-ngcrop-area-view .bottom-button-row {
  margin-top: 20px;
}
